{{> header}}
<h1>THE GAME!</h1>
<p>Gold: <span id ="amountOfGold">0</span></p>
<p>Iron: <span id ="amountOfIron">0</span></p>
<p>Meat: <span id ="amountOfMeat">0</span></p>
<p>EXP: <span id ="experience">0</span>/<span id ='nextLevelExp'>1000</span> Level: <span id ="level">1</span></p>
<p>Strength: <span id = "strength">7</span></p>
<p>      HP: <span id = "hp">50</span>/<span id = "hpMax">50</span></p>
<p>   Armor: <span id = "armor">3</span></p>
<button id="question" onclick="killGoblin()">Kill Goblin</button>
<button id="potion" onclick="getPotion()">Get Potion</button>
<p id ="messageAction"></p>
{{> footer}}